@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SpoqaHanSansNeo-Regular';
}

body {
  background-color: #3f3d5e;
}

.timer-wrapper {
  color: #fff;
  display: flex;
  padding: 2rem;
  border-radius: 5px;
}

.timer-segment {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divider,
.time {
  font-size: 7rem;
}

.diver {
  padding: 0 2rem;
}

.label {
  font-size: 2rem;
}

h1 {
  z-index: 2;
  text-align: center;
  font-size: 6rem;
  color: #fff;
}

video {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}